__pycache__/
*.py[cod]
.venv/
venv/
.env
.ipynb_checkpoints/
models/*
!models/.gitkeep
data/raw/*
data/processed/*
data/custom/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/custom/.gitkeep
images/test/*
!images/test/.gitkeep
